button.el-led {
    border-radius: 50%;
    height: 6em;
    width: 6em;
    margin: 2em;
    outline: none;
    background-color: black;
    border: none;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(104, 149, 240, 0.1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(104, 149, 240, 0.1);
    box-shadow: 0px 0px 0px 2px rgba(104, 149, 240, 0.1);
    color: white;
}

button.el-led.el-selected {
    -webkit-box-shadow: 0px 0px 16px 4px rgba(104, 149, 240, 1);
    -moz-box-shadow: 0px 0px 16px 4px rgba(104, 149, 240, 1);
    box-shadow: 0px 0px 16px 4px rgba(104, 149, 240, 1);
}


.el-color-picker-act.lanscapse {
    /* 'todo' */
}


.el-color-picker-act .el-color-picker-color {
    width: 25em;
    height: 25em;
}

.el-color-picker-color-container {
    display: block;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.el-color-picker-color-container>.el-color-picker-color,
.el-color-picker-color-container>.el-color-picker-hue {
    display: inline-block;
    vertical-align: middle;
}

.el-color-picker-color-container>.el-color-picker-color {
    margin-right: 3em;
}

.el-color-picker-color {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
}


.el-color-picker-hue {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    position: relative;
    width: 4em;
    height: 25em;
    background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}




.el-color-picker-sat {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#FFF), to(rgba(204, 154, 129, 0)));
    background-image: -webkit-linear-gradient(left, #FFF, rgba(204, 154, 129, 0));
    background-image: -moz-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background-image: -o-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background-image: -ms-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background-image: linear-gradient(to right, #fff, rgba(204, 154, 129, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr=#FFFFFFFF, endColorstr=#00CC9A81)";
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#FFFFFFFF', endColorstr='#00CC9A81');
}

.el-color-picker-val {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000000), to(rgba(204, 154, 129, 0)));
    background-image: -webkit-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
    background-image: -moz-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    background-image: -o-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    background-image: -ms-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    background-image: linear-gradient(to top, #000, rgba(204, 154, 129, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00CC9A81, endColorstr=#FF000000)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81', endColorstr='#FF000000');
}

.el-color-dragger {
    border: solid 1px rgb(160, 160, 160);
    box-shadow: inset 0px 0px 0.4em 0.1em rgba(255, 255, 255, 0.7);
}

.el-color-picker-val .el-color-dragger {
    position: absolute;
    z-index: 10;
    width: 1em;
    height: 1em;
    border: solid 1px rgb(160, 160, 160);
    bottom: 0;
    left: 0;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0.4em 0.1em rgba(255, 255, 255, 0.7);
}



.el-color-picker-hue .el-color-dragger,
.el-color-picker-alpha .el-color-dragger {
    position: absolute;
    height: 2em;
    left: -0.6em;
    right: -0.6em;
    top: 0%;
    margin-top: -1em;
    margin-bottom: -1em;
    border-width: 0.1em;
}